.wrapper {
   @apply min-w-[300px] w-[350px] h-[100px] duration-200 py-5 px-3 rounded-lg flex items-center bg-slate-100 mb-5 shadow-md  
            hover:-translate-y-2 
         hover:shadow-slate-400 
         hover:bg-slate-50
         hover:shadow-lg;
}

.img_container {
   @apply w-[60px] h-[60-px];
   & img {
      filter: drop-shadow(2px 2px 2px rgb(59 130 246))
   }
}

.category_info {
   @apply shrink-0 grow ml-5;
   .category {
      @apply font-bold text-3xl;
   }
}

